/* Fonts Link  */
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/* Preloader Animation  */
.loader_bg {
    position: absolute;
    z-index: 9999999;
    background: #1d1d1d;
    width: 100%;
    height: 100%;
}
.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader::before, .loader::after {
    content: "";
    border: 1em solid #fec303;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader::before {
    animation-delay: .5s;
}
@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*-------------------------Stlying Body Starts---------------------------------*/

/* Reseting Page Defaults */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* For Selection Portion  */
::selection {
    color: #1d1d1d;
    background: #fec303;
  }
/* HTML Scroll Smoothness */
html {
    scroll-behavior: smooth;
}
/* All Similar Content Styling  */
a {
    text-decoration: none;
}
input:focus {
    border: 1px solid #fec303;
}
/* Scroll Up Button  */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #fec303;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn.show:hover {
    color: #404040;
}
/* Nav Bar Container  */
.nav-container {
    display: none;
    height: 100px;
    position: fixed;
    width: 100%;
    transition: height 0.5s ease-in;
    z-index: 999;
    user-select: none;
}
.nav-container nav {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Ropa Sans', sans-serif;
    align-items: center;
}
.nav-container nav .logo {
    font-size: 40px;
    font-weight: 700;
}
.nav-container nav .logo a {
    color: white;
}
.nav-container nav .logo a:hover {
    color: #fec303;
}
.nav-container nav .logo span {
    color: #fec303;
}
.nav-container nav .nav-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.nav-container nav .nav-links a {
    color: white;
}
.nav-container nav .nav-links a:hover{
    color: #fec303;
}
.nav-container nav .nav-links li{
    list-style: none;
}
.nav-container .hamburger {
    height: 30px;
    width: 35px;
    display: none;
}
.nav-container .hamburger .line1 {
    margin-top: 5px;
    height: 4px;
    width: 35px;
    background-color: #fec303;
}
.nav-container .hamburger  .line2, .line3{
    height: 4px;
    width: 35px;
    margin-top: 4px;
    background-color: #fec303;
}
.sticky {
    padding: 15px 0;
    height: 60px;
    background-color: black;
}
/* main container starts */
.main-container {
    background: url(/Images/20210521_184354.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: none;
}
.main-container .welcome{
    color: white;
    margin: 150px 40%;
    width: 60%;
}
.main-container .welcome h1 {
    font-size: 80px;
}
.main-container .welcome h4 {
    font-size: 40px;
}
.main-container .welcome h5 {
    font-size: 30px;
    color: #fec303;
}
.main-container .welcome span {
    color: #fec303;
}
/* about container starts */
.about-container {
    padding: 100px 0;
    display: none;
}
.about-container .title{
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}
.about-container .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform:translateX(-50%);
}
.about-container .title::after {
    content: "who am i";
    position: absolute;
    bottom: -12px;
    left: 50%;
    color: #fec303;
    font-size: 20px;
    padding: 5px;
    background: #fff;
    transform:translateX(-50%);
}
.about-container .text-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about-container .text-content .left {
    width: 45%;
}
.about-container .text-content .left img {
    height: 450px;
    width: 450px;
    object-fit: cover;
}
.about-container img {
    padding-left: 80px;
}
.about-container .text-content .right {
    width: 55%;
}
.about-container .text-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Ropa Sans', sans-serif;
}
.about-container .text-content .right .text span {
    color: #fec303;
}
.about-container .text-content .right p {
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    padding-right: 100px;
}
.about-container .text-content .right a {
    display: inline-block;
    background: linear-gradient(to right,#fec303 50%,#fff 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    color: #fec303;
    border: 2px solid #fec303;
    transition: all 0.4s ease-in-out;
}
.about-container .text-content .right a:hover{
    background-position: left bottom;
    color: #404040;
}
.about-container .text-content .column {
    width: 50%;
}
/* skills container starts */
.skills {
    padding: 100px 0;
    background: #404040;
    display: none;
}
.skills .skill-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill-content .title{
    position: relative;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}
.skill-content .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform:translateX(-50%);
}
.skill-content .title::after {
    content: "what i know";
    position: absolute;
    bottom: -12px;
    left: 50%;
    color: #fec303;
    font-size: 20px;
    padding: 5px;
    background: #404040;
    transform:translateX(-50%);
}
.skills .skill-content .left {
    width: 55%;
}
.skills .skill-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Ropa Sans', sans-serif;
    padding-left: 100px;
}
.skills .skill-content .left .text span {
    color: #fec303;
}
.skills .skill-content .left p {
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
}
.skills .skill-content .left a {
    display: inline-block;
    background: linear-gradient(to right,#fec303 50%,#404040 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    color: #fec303;
    border: 2px solid #fec303;
    transition: all 0.4s ease-in-out;
    margin-left: 100px;

}
.skills .skill-content .left a:hover{
    background-position: left bottom;
    color: #404040;
}
.skills .skill-content .left .web-links li{
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
}
.skills .skill-content .left .web-links li a {
    background: none;
    padding: 0px;
    margin: 0px 0px 0xp 100px;
    border: none;
    clear: both;
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: all 0.1s ease-in;
}
.skills .skill-content .left .web-links a:hover{
    color: #fec303;
}
.skills .skill-content .left .link {
    color: #fec303;
    font-size: 20px;
    padding-left: 100px;
    font-weight: 700;
    font-family: 'Ropa Sans', sans-serif;
}
.skills .skill-content .right {
    width: 45%;
    font-family: 'Ropa Sans', sans-serif;
}
.skills .skill-content .right .bars {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}
.skills .skill-content .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skill-content .right span {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.skills .skill-content .right .line{
    position: relative;
    height: 4px;
    width: 100%;
    background: white;
    margin-bottom: 15px;
}
.skills .skill-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #fec303;
}
.skills .skill-content .right .html::before {
    width: 90%;
}
.skills .skill-content .right .css::before {
    width: 90%;
}
.skills .skill-content .right .js::before {
    width: 40%;
}
.skills .skill-content .right .wordpress::before {
    width: 80%;
}
.skills .skill-content .right .networking::before {
    width: 70%;
}
/* Contact Section Starts */
.contact {
    padding: 50px 0;
    display: none;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact .content .title{
    position: relative;
    text-align: center;
    width: 100%;
    color: #111;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}
.contact .content .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform:translateX(-50%);
}
.contact .content .title::after {
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    color: #fec303;
    font-size: 20px;
    padding: 5px;
    background: #fff;
    transform:translateX(-50%);
}
.contact .content .column {
    width: 50%;
}
.contact .content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}
.contact .content .left p {
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
    padding-right: 100px;
}
.contact .content .left .icons {
    margin: 10px 0;
}
.contact .content .row {
    display: flex;
    height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.contact .content .row .info{
    margin-left: 30px;
}
.contact .content .row .fa-user{
    border: 1px solid transparent;
    padding: 18px 22px;
    font-size: 30px;
    color: #fec303;
    border-radius: 50%;
}
.contact .content .row .fa-map-marker-alt {
    border: 1px solid transparent;
    padding: 18px 23px;
    font-size: 30px;
    color: #fec303;
    border-radius: 50%;   
}
.contact .content .row .fa-envelope {
    border: 1px solid transparent;
    padding: 18px 20px;
    font-size: 30px;
    color: #fec303;
    border-radius: 50%;
}
.contact .content .row:hover .fas{
    border: 1px solid #fec303;
    color: #404040;
    background: #fec303;
}
.contact .content .row .info .head{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
}
.contact .content .row .info .sub-title {
    color: #333;
    font-size: 18px;
}
.contact .content .left {
    padding-left: 100px;
}
.contact .content .left .socialmedia .socialicons a{
    font-size: 25px;
    color: #404040;
}
.contact .content .left .socialmedia .socialicons .fab:hover{
    color: #fec303;
}
.contact .content .left .socialmedia .socialicons .fab {
    padding: 10px;
}
.contact .content .right {
    padding-right: 100px;
}
.contact .content .right input:focus {
   border: 1px solid#fec303;
}
.contact .content .right textarea:focus {
    border: 1px solid#fec303;
 }
.contact .content .right input{
    height: 25px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #404040;
}
.contact .content .right textarea {
    margin-top: 20px;
    width: 100%;
    color: #404040;
    font-size: 17px;
    font-weight: 600;
    padding: 20px;
}
.contact .content .right button {
    display: inline-block;
    background: linear-gradient(to right,#fec303 50%,#fff 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    color: #fec303;
    border: 2px solid #fec303;
    transition: all 0.4s ease-in-out;
}
.contact .content .right button:hover {
    color: #404040;
    background-position: left bottom;
}
/* Footer Section Starts */
.footer {
    display: none;
    background:black;
    padding: 20px 23px;
    color: #fff;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    user-select: none;
}
.footer span a{
    color: #fec303;
    text-decoration: none;
}
.footer span a:hover {
    text-decoration: underline;
}
/* Media Screen Starts */
@media(max-width:840px) {
    .nav-container nav .nav-links {
        width: 50%;
        display: flex;
        flex-direction: row;
        position: none;
    }
    .nav-container .hamburger {
        display: none;
    }
    .main-container .welcome {
        width: 60%;
        margin: 150px 35%;
    }
    .main-container .welcome h1 {
        font-size: 60px;
    }
    .main-container .welcome h4 {
        font-size: 30px;
    }
    .main-container .welcome h5 {
        font-size: 30px;
        color: #fec303;
    }
    .about-container .text-content .left img {
        width: 350px;
        height: 350px;
    }
    .about-container .text-content .column {
        width: 50%;
    }
    .about-container .text-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-container .text-content .right {
        flex: 100%;
        text-align: center;
    }
    .about-container .text-content .right p {
        padding-left: 100px;
    }
    .about-container img {
        padding-left: 0px;
    }
    .skills .skill-content .column {
        width: 50%;
    }
    .skills .skill-content .left {
        width: 100%;
    }
    .skills .skill-content .right {
        flex: 100%;
        text-align: center;
        padding-top: 50px;
    }
    .contact .content .left {
        width: 100%;
    }
    .contact .content .right {
        flex: 100%;
        margin-left: 100px;
    }
}
@media(min-width:575px) {
    .nav-container nav .nav-links.responsive{
        display: flex;
        position: relative;
        top: 0%;
        left: 0%;
        width: 65%;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
    }
    .nav-container.sticky nav .nav-links {
        top: 0% !important;
    }
}
@media(min-width:841px) {
    .nav-container nav .nav-links.responsive{
        width: 45%;
        justify-content: space-between;
    }
}
@media(max-width:574px) {
    .nav-container nav .nav-links{
        display: none;
    }
    .nav-container nav .nav-links li {
        padding: 14px 16px;
        width: 100%;
        text-align: center;
    }
    .nav-container .hamburger {
        display: block;
    }
    .main-container {
        background: url(/Images/20210521_184354.png) no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    .main-container .welcome {
        width: 70%;
        margin: 150px 30px auto auto;
    }
    .main-container .welcome h1 {
        font-size: 50px;
    }
    .main-container .welcome h4 {
        font-size: 25px;
    }
    .main-container .welcome h5 {
        font-size: 25px;
    }
    .about-container .text-content .left img {
        width: 200px;
        height: 200px;
    }
    .about-container .text-content .right p {
        text-align: justify;
        font-size: 20px;
        line-height: 35px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .skills .skill-content .left .text {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .skills .skill-content .left p{
        padding-left: 50px;
        padding-right: 50px
    }
    .skills .skill-content .left .link{
        padding-left: 10%;
        padding-right: 10%;
    }
    .skills .skill-content .left  a {
        margin-left: 50px;
    }
    .contact .content .text {
        margin-top: 40px;
    }
    .contact .content .left {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact .content .left p{
        padding-right: 0px;
    }
    .contact .content .right {
        padding-right: 20px;
    }
    .contact .content .right {
        flex: 100%;
        margin-left: 20px;
    }
    .contact .content .left .icons {
        margin-left: -15px;
    }
    .contact .content .left .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contact .content .left .fas {
        font-size: 20px;
    }
    .contact .content .row .info{
        margin-left: 5px;
    }
    .contact .content .row .fa-user{
        padding: 10px 15px;
    }
    .contact .content .row .fa-map-marker-alt {
        padding: 10px 16px;
    }
    .contact .content .row .fa-envelope {
        padding: 10px 13px;
    }
    .contact .content .row .info .head{
        font-size: 15px;
    }
    .contact .content .row .info .sub-title {
        font-size: 15px;
    }
}   
/* For Javscript Onclick Funciton  */
.nav-container .nav-links.responsive {
    display: block;
    position: absolute;
    flex-direction: column;
    top: 100px;
    left: -10%;
    margin: 0%;
    width: 120%;
    background-color: black;
}
.toggle1 {
    transform: rotate(45deg) translate(6px, 7px);
}
.toggle2 {
    display: none;
}
.toggle3 {
    transform: rotate(-45deg) translate(-1px, 0px);
}
.nav-container.sticky nav .nav-links {
    top: 100%;
}